.grid {
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 10px;
    grid-auto-flow: row;
}
.logo {
    display: grid;
    justify-content: center;
    align-content: center;
}
.login, .register {
    border-radius: 9px;
    background-color: #252525;
    padding: 35px 70px;
    border: solid 1px;
    border-color: black;
}
.login_button, .register_button {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}