.hint{
	padding: 12px;
}
.ctf_box {
	position: relative;
	margin: auto;
	width:40%;
	padding: 10px;
	text-align: center;
	background-color: #202020;
	display: flex;
	flex-direction: column;
}
.ctf_box hr {
  	width: 100%;
}
.ctf_box a {
	color: #F01C1C;
}

.header {
	align-self: stretch;
	display: flex;
}
.title {
	padding: 10px;
	line-height: 3px;
}
.points {
	padding: 10px;
	margin-left: auto;
}
.body {
	display: flex;
	column-gap: 100px;
}
.description {
	width: 700px;
	text-align: left;
	padding: 5px;
}
.body h4 {
	margin-top: 3px;
	margin-bottom: 3px;
}
.hints {
	flex-direction: column;
	display: flex;
	flex-basis: 600px;
	text-align: left;
	padding: 5px;
	margin-left: auto;
}

.hints #hint {
	overflow-wrap: break-word;
	max-width: 300px;
	background-color: #252525; 
}

.hints_but {
	flex-direction: row;
}

.hints_but button {
	height: 40px;
	width: 40px;
	padding: 10px;
}

.hints h4{
	margin-top: 3px;
}

.hints br{
	width: 10px;
}

.stats {
	margin: 0px;
	margin-top: 10px;
	padding: 10px;
	background-color: #252525;
	align-self: stretch;
}

.flag {
	padding: 10px;
	align-self: stretch;
}

.flag input[type=text] {
	width: 50%;
    padding: 7px 16px;
    margin: 8px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-color: black;
    box-sizing: border-box;
    text-align: center;
}

.file {
	padding: 5px;
	text-align: left;
}
.file h5 {
	margin-top: 3px;
	margin-bottom: 3px;
}
.comments {
	display: flex;
	flex-direction: column;
	row-gap: 5px;
	padding: 5px;
}

.comments h4 {
	margin-top: 5px;
	text-align: left;
}

.comments textarea {
	align-self: stretch;
	resize: none;
	width: 100%;
	height:80px;
}

.comments button {
	text-align: center;
	width: 90%;
	margin: 0px;
}

.comments #comm {
	padding: 10px;
	background-color: #252525;
	text-align: left;
}
.userlink {
	text-decoration: none;
}
.userlink:hover {
	text-decoration: underline;
}





