.main {
	display: grid;
	grid-gap: 10px;
}

.ctf_list_box {
	display:flex;
	position: relative;
	margin: auto;
	width: 85%;
}

.ctf_list {
	width: 100%;
}
.ctf_list td, .ctf_list th {
	padding: 16px;
}
.ctf_list tr:nth-child(even){background-color: #252525;}

.ctf_list tr:hover {background-color: #191919; cursor: pointer;}

.ctf_list th {
  background-color: #F01C1C;
  color: white;
}

.ctf_list th:hover {
  background-color: #a40000;
}