<web-app>

	<display-name>
		Open_CTF
	</display-name>
	
	<servlet>
		<servlet-name>Home</servlet-name>
		<jsp-file>/index.jsp</jsp-file>
	</servlet>
	
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>RegisterServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>AddCtf</servlet-name>
		<servlet-class>AddCtfServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>LogoutServlet</servlet-class>
	</servlet>

	<servlet>
    	<servlet-name>Challenge</servlet-name>
    	<jsp-file>/challenge.jsp</jsp-file>
	</servlet>
	
	<servlet>
		<servlet-name>Writeups</servlet-name>
		<jsp-file>/writeups.jsp</jsp-file>
	</servlet>
	
	<servlet>
    	<servlet-name>Profile</servlet-name>
    	<jsp-file>/profile.jsp</jsp-file>
	</servlet>

	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>LoginServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>AddWriteup</servlet-name>
		<servlet-class>AddWriteupServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Addwriteup</servlet-name>
		<jsp-file>/addWriteup.jsp</jsp-file>
	</servlet>
	
	<servlet>
		<servlet-name>Addctf</servlet-name>
		<jsp-file>/addCtf.jsp</jsp-file>
	</servlet>
	
	<servlet>
		<servlet-name>Scoreboard</servlet-name>
		<jsp-file>/scoreboard.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/Home</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Addctf</servlet-name>
		<url-pattern>/Addctf</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AddCtf</servlet-name>
		<url-pattern>/AddCtf</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Addwriteup</servlet-name>
		<url-pattern>/Addwriteup</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AddWriteup</servlet-name>
		<url-pattern>/AddWriteup</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Challenge</servlet-name>
		<url-pattern>/Challenge</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Writeups</servlet-name>
		<url-pattern>/Writeups</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Profile</servlet-name>
		<url-pattern>/Profile</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Scoreboard</servlet-name>
		<url-pattern>/Scoreboard</url-pattern>
	</servlet-mapping>

</web-app>

